.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid $loader-bg;
  border-right: 1.1em solid $loader-bg;
  border-bottom: 1.1em solid $loader-bg;
  border-left: 1.1em solid $loader-fg;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  &.loader-small {
    margin: 30px auto;
    border-top: 0.5em solid $loader-bg;
    border-right: 0.5em solid $loader-bg;
    border-bottom: 0.5em solid $loader-bg;
    border-left: 0.5em solid $loader-fg;
  }

  &.loader-small, &.loader-small:after {
    width: 5em;
    height: 5em;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
