<div class="row align-items-center flex-row-reverse">
    <div class="col-auto ml-auto">
        <div class="row align-items-center">
            <div class="col-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://github.com/jc21/docker-registry-ui?utm_source=docker-registry-ui">Fork me on Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        v<%- getVersion() %> &copy; 2018 <a href="https://jc21.com?utm_source=nginx-proxy-manager" target="_blank">jc21.com</a>. Theme by <a href="https://tabler.github.io/?utm_source=nginx-proxy-manager" target="_blank">Tabler</a>
    </div>
</div>
