<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <form class="card" action="" method="post">
                <div class="card-body p-6">
                    <div class="card-title">Login to your account</div>
                    <div class="form-group">
                        <label class="form-label">Email address</label>
                        <input name="identity" type="email" class="form-control" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input name="secret" type="password" class="form-control" placeholder="Password" required>
                        <div class="invalid-feedback secret-error"></div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-teal btn-block">Sign in</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted">
                Nginx Proxy Manager v<%- getVersion() %>
            </div>
        </div>
    </div>
</div>
