<% var title = 'Nginx Proxy Manager' %>
<%- include partials/header.ejs %>

<div id="app" class="page">
	<span class="loader"></span>
</div>

<script type="text/javascript" src="/js/main.bundle.js?v=<%= version %>"></script>
<%- include partials/footer.ejs %>
