<% var title = 'Login &ndash; Nginx Proxy Manager' %>
<%- include partials/header.ejs %>

<div class="page" id="login" data-version="<%= version %>">
	<span class="loader"></span>
</div>

<script type="text/javascript" src="/js/login.bundle.js?v=<%= version %>"></script>
<%- include partials/footer.ejs %>
