.dnsChallengeWarning {
	border: 1px solid #fecaca; /* Tailwind's red-300 */
	padding: 1rem;
	border-radius: 0.375rem; /* Tailwind's rounded-md */
	margin-top: 1rem;
}

.textareaMono {
	font-family: 'Courier New', Courier, monospace !important;
	/* background-color: #f9fafb;
	border: 1px solid #d1d5db;
	padding: 0.5rem;
	border-radius: 0.375rem;
	width: 100%; */
	resize: vertical;
}
