<div class="col-sm-3 col-md-3">
    <div class="form-group">
        <select name="directive[]" class="form-control custom-select" placeholder="http">
            <option value="allow" <%- typeof directive == 'undefined' || directive === 'allow' ? 'selected' : '' %>>allow</option>
            <option value="deny" <%- typeof directive !== 'undefined' && directive === 'deny' ? 'selected' : '' %>>deny</option>
        </select>
    </div>
</div>
<div class="col-sm-9 col-md-9">
    <div class="form-group">
        <input type="text" name="address[]" class="form-control" value="<%- typeof address !== 'undefined' ? address : '' %>" value="">
    </div>
</div>
