<% if (title) { %>
    <h1 class="h2 mb-3"><%- title %></h1>
<% }

if (subtitle) { %>
    <p class="h4 text-muted font-weight-normal mb-7"><%- subtitle %></p>
<% }

if (link) { %>
    <a class="btn btn-<%- btn_color %>" href="#"><%- link %></a>
<% } %>
