.idea
.env
.DS_Store
._*
*.code-workspace
vendor
dist
backend/config.json
backend/internal/api/handler/assets
test/node_modules
*/node_modules
docs/.vuepress/dist
frontend/build
frontend/yarn-error.log
frontend/yarn.lock
frontend/.npmrc
test/cypress/fixtures/example.json
.vscode
docker-build
data