{
	servers :80 {
		protocols h1 h2c
	}
}
http://captive.apple.com:80 {
	respond "Success"
}
http://clients3.google.com:80 {
	respond 204
}
http://connectivitycheck.gstatic.com:80 {
	respond 204
}
http://www.msftncsi.com:80 {
	respond "Microsoft NCSI"
}
http://www.msftconnecttest.com:80 {
	respond "Microsoft Connect Test"
}
http://ipv6.msftconnecttest.com:80 {
	respond "Microsoft Connect Test"
}
http://detectportal.firefox.com:80 {
	respond "<meta http-equiv=\"refresh\" content=\"0;url=https://support.mozilla.org/kb/captive-portal\"/>"
}
http://:80 {
	redir https://{host}{uri} permanent
}
