body {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(28, 30, 31) !important;
}
-webkit-scrollbar {
  background-color: #202324 !important;
  color: #aba499 !important;
}
-webkit-scrollbar {
  background-color: #202324 !important;
  color: #aba499 !important;
}
-webkit-scrollbar-thumb {
  background-color: #454a4d !important;
}
.avatar {
  background-color: rgb(48, 52, 54) !important;
  color: rgb(161, 152, 140) !important;
}
pre {
  color: rgb(195, 190, 182) !important;
  background-color: rgb(27, 29, 30) !important;
  text-shadow: rgb(24, 26, 27) 0px 1px !important;
}
.close {
  color: rgb(232, 230, 227) !important;
  text-shadow: rgb(24, 26, 27) 0px 1px 0px !important;
}
.form-fieldset {
  background-color: rgb(27, 30, 31) !important;
  border-color: rgb(53, 58, 60) !important;
}
.modal-content {
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(140, 130, 115, 0.2) !important;
}
.modal-header {
  border-bottom-color: rgb(53, 58, 60) !important;
}
.modal-footer {
  border-top-color: rgb(53, 58, 60) !important;
}
.alert-secondary {
  color: rgb(185, 179, 170) !important;
  background-color: rgb(37, 40, 41) !important;
  border-color: rgb(57, 62, 64) !important;
}
.nav-tabs {
  color: rgb(174, 167, 156) !important;
  border-bottom-color: rgb(56, 61, 63) !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(28, 30, 31) !important;
  border-color: rgb(56, 61, 63) rgb(56, 61, 63) rgb(30, 46, 76) !important;
}
.nav-tabs .nav-link.active {
  border-color: rgb(35, 77, 136) !important;
  color: rgb(85, 151, 211) !important;
  background-color: transparent !important;
}
.selectize-input.focus {
  border-color: rgb(35, 77, 136) !important;
  box-shadow: rgba(39, 86, 151, 0.25) 0px 0px 0px 2px !important;
}
.selectgroup-input:checked + .selectgroup-button {
  border-color: rgb(35, 77, 136) !important;
  color: rgb(85, 151, 211) !important;
  background-color: rgb(30, 33, 34) !important;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: rgb(24, 26, 27) !important;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: rgb(181, 175, 166) !important;
}
.selectize-input {
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: rgb(24, 26, 27) !important;
}
.selectize-control.multi .selectize-input div {
  background-color: rgb(35, 38, 39) !important;
  color: rgb(181, 175, 166) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #495057 !important;
  -webkit-font-smoothing: inherit !important;
}
.card {
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.tag {
  color: rgb(155, 146, 133) !important;
  background-color: rgb(35, 38, 39) !important;
}
.header {
  background-color: rgb(24, 26, 27) !important;
  border-bottom-color: rgba(124, 115, 101, 0.12) !important;
}
.navbar-light .navbar-brand {
  color: rgba(232, 230, 227, 0.9) !important;
}
.nav-tabs {
  color: rgb(174, 167, 156) !important;
}
.table th,
.text-wrap table th,
.table td,
.text-wrap table td {
  border-top-color: rgb(56, 61, 63) !important;
}
.form-control {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.footer {
  background-color: rgb(24, 26, 27) !important;
  border-top-color: rgba(124, 115, 101, 0.12) !important;
  color: rgb(174, 167, 156) !important;
}
.text-default {
  color: rgb(181, 175, 166) !important;
}
.text-yellow {
  color: rgb(242, 202, 39) !important;
}
::selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}
.selection {
  background-color: #004daa !important;
  color: #e8e6e3 !important;
}
.dropdown-menu {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px !important;
}
.dropdown-menu-arrow::before {
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: rgba(84, 91, 95, 0.2) !important;
}
.dropdown-menu-arrow::after {
  border-right-color: transparent !important;
  border-bottom-color: rgb(48, 52, 54) !important;
  border-left-color: transparent !important;
}
.dropdown-divider {
  border-top-color: rgb(53, 58, 60) !important;
}
.dropdown-menu-arrowafter {
  border-right-color: transparent !important;
  border-bottom-color: rgb(48, 52, 54) !important;
  border-left-color: transparent !important;
}
.dropdown-item {
  color: rgb(155, 146, 133) !important;
}
.btn-secondary {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px !important;
  border-color: rgb(62 0 118 / 90%) !important;
}
.btn-teal {
  color: rgb(232, 230, 227) !important;
  background-color: rgb(34, 162, 149) !important;
  border-color: rgb(32, 150, 137) !important;
}
.stamp {
  color: rgb(232, 230, 227) !important;
}
.bg-yellow {
  background-color: rgb(144, 117, 8) !important;
}
.bg-blue {
  background-color: rgb(39, 86, 151) !important;
}
.bg-green {
  background-color: rgb(75, 149, 0) !important;
}
.bg-red {
  background-color: rgb(164, 26, 25) !important;
}
.custom-switch-indicator {
  background-color: rgb(35, 38, 39) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.custom-switch-input:checked ~ .custom-switch-description {
  color: rgb(181, 175, 166) !important;
}
.custom-switch-input:checked ~ .custom-switch-indicator {
  background-color: rgb(34, 162, 149) !important;
}
.bg-success {
  background-color: rgb(75, 149, 0) !important;
}
.btn-success {
  color: rgb(232, 230, 227) !important;
  background-color: rgb(75, 149, 0) !important;
  border-color: rgb(101, 199, 0) !important;
}
.selectize-input.full {
  background-color: rgb(24, 26, 27) !important;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: rgb(24, 26, 27) !important;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: rgb(181, 175, 166) !important;
}
.selectize-input {
  border-color: rgba(124, 115, 101, 0.12) !important;
}
.selectize-dropdown {
  color: rgb(202, 197, 190) !important;
  background-color: rgb(24, 26, 27) !important;
  border-right-color: rgb(61, 66, 69) !important;
  border-bottom-color: rgb(61, 66, 69) !important;
  border-left-color: rgb(61, 66, 69) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px !important;
}
.input-group-text {
  color: rgb(181, 175, 166) !important;
  background-color: rgb(26, 28, 29) !important;
  border-color: rgba(124, 115, 101, 0.12) !important;
}
