.darkBtn {
	color: var(--tblr-light) !important;
	&:hover {
		border: var(--tblr-btn-border-width) solid transparent !important;
		background: color-mix(in srgb, var(--tblr-btn-hover-bg) 10%, transparent) !important;
	}
}

.lightBtn {
	color: var(--tblr-dark) !important;
	&:hover {
		border: var(--tblr-btn-border-width) solid transparent !important;
		background: color-mix(in srgb, var(--tblr-btn-hover-bg) 10%, transparent) !important;
	}
}
