<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="robots" content="noindex" />
    <title><%- title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/images/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/css/main.css?v=<%= version %>" rel="stylesheet" />

    <script>
      function loadCSS(filename) {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = filename + "?v=" + Date.now();
        document.head.appendChild(link);
      }
      function unloadCSS(filename) {
        var links = document.getElementsByTagName("link");
        var i = links.length;
        while (i--) {
          var link = links[i];
          if (link.href.indexOf("/css/darkmode.css") !== -1) {
            link.parentNode.removeChild(link);
          }
        }
      }

      function toggleDarkMode() {
        if (localStorage.getItem("darkMode") === "on") {
          unloadCSS("/css/darkmode.css");
          localStorage.setItem("darkMode", "off");
        } else {
          loadCSS("/css/darkmode.css");
          localStorage.setItem("darkMode", "on");
        }
      }
      if (localStorage.getItem("darkMode") === "on") {
        loadCSS("/css/darkmode.css");
      } else if (localStorage.getItem("darkMode") === "off") {
        unloadCSS("/css/darkmode.css");
      } else if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        loadCSS("/css/darkmode.css");
        localStorage.setItem("darkMode", "on");
      } else {
        unloadCSS("/css/darkmode.css");
        localStorage.setItem("darkMode", "off");
      }
    </script>
    <script>
      function sortTable(n) {
        var table,
          rows,
          switching,
          i,
          x,
          y,
          shouldSwitch,
          dir,
          switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
          no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
            first, which contains table headers): */
          for (i = 1; i < rows.length - 1; i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
              one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount++;
          } else {
            /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <noscript>
      <div class="container no-js-warning">
        <div class="alert alert-warning text-center">
          <strong>Warning!</strong> This application requires Javascript and your browser doesn't support it.
        </div>
      </div>
    </noscript>
  </body>
</html>
