<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <title><%- title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicons/site.webmanifest" />
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/images/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/css/main.css?v=<%= version %>" rel="stylesheet" />

    <script>
      function loadCSS(filename) {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = filename + '?v=' + Date.now();
        document.head.appendChild(link);
      }
      function unloadCSS(filename) {
        var links = document.getElementsByTagName("link");
        var i = links.length;
        while (i--) {
          var link = links[i];
          if (link.href.indexOf("/css/darkmode.css") !== -1) {
            link.parentNode.removeChild(link);
          }
        }
      }

      function toggleDarkMode() {
        if (localStorage.getItem("darkMode") === "on") {
          unloadCSS("/css/darkmode.css");
          localStorage.setItem("darkMode", "off");
        } else {
          loadCSS("/css/darkmode.css");
          localStorage.setItem("darkMode", "on");
        }
      }
      if (localStorage.getItem("darkMode") === "on") {
        loadCSS("/css/darkmode.css");
      } else if (localStorage.getItem("darkMode") === "off") {
        unloadCSS("/css/darkmode.css");
      } else if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
        loadCSS("/css/darkmode.css");
        localStorage.setItem("darkMode", "on");
      } else {
        unloadCSS("/css/darkmode.css");
        localStorage.setItem("darkMode", "off");
      }
    </script>
  </head>
  <body>
    <noscript>
      <div class="container no-js-warning">
        <div class="alert alert-warning text-center"><strong>Warning!</strong> This application requires Javascript and your browser doesn't support it.</div>
      </div>
    </noscript>
  </body>
</html>
