<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Change Password <%- isSelf() ? '' : 'for' + name %></h5>
        <button type="button" class="close cancel" aria-label="Close" data-dismiss="modal">&nbsp;</button>
    </div>
    <div class="modal-body">
        <form>
            <% if (isSelf()) { %>
            <div class="form-group">
                <label class="form-label">Current Password</label>
                <input type="password" name="current_password" class="form-control" placeholder="" minlength="8" required>
            </div>
            <% } %>

            <div class="form-group">
                <label class="form-label">New Password</label>
                <input type="password" name="new_password1" class="form-control" placeholder="" minlength="8" required>
                <div class="invalid-feedback secret-error"></div>
            </div>
            <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <input type="password" name="new_password2" class="form-control" placeholder="" minlength="8" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-teal save">Save</button>
    </div>
</div>
