<thead>
    <th>&nbsp;</th>
    <th>Time</th>
    <th>Event Severity</th>
    <th>Asset Name</th>
    <th>Security Action</th>
    <th><span class="text-nowrap">AppSec Incident</span> Type</th>
    <th>Source Identifier</th>
    <th>Source IP</th>
    <th>Proxy IP</th>
    <th>HTTP Host</th>
    <th>HTTP Method</th>
    <th><span class="text-nowrap">HTTP Response</span> Code</th>
    <th><span class="text-nowrap">HTTP URI</span> Path</th>
    <th>Event Topic</th>
    <th>Matched Location</th>
    <th>Matched Parameter</th>
    <th>Matched Sample</th>
</thead>
<tbody>
    <!-- items -->
</tbody>
