$primary-color: #2bcbba;

.loader {
    color: $primary-color;
}

a {
    color: $primary-color;
}

a:hover {
    color: darken($primary-color, 10%);
}

.dropdown-header {
    padding-left: 1rem;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary-color;
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: $primary-color;
}

.min-100 {
    min-height: 100px;
}

.card-options .dropdown-menu a:not(.btn) {
    margin-left: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.col-login {
    max-width: 48rem;
}

.margin-auto {
    margin: auto;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.separator::before, .separator::after {
    content: "";
    flex: 1 1 0%;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: 0.5em;
}

.separator:not(:empty)::after {
    margin-left: 0.5em;
}

.login-oidc {
    display: none;
    margin-top: 1em;
}