<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><%- i18n('certificates', 'renew-title') %></h5>
    </div>
    <div class="modal-body">
        <div class="waiting text-center">
            <%= i18n('str', 'please-wait') %>
        </div>
        <div class="alert alert-danger error" role="alert"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" disabled><%- i18n('str', 'close') %></button>
    </div>
</div>
