<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Delete Access List</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure? You cannot undo this.</p>
                <% if (hosts && hosts.length) { %>
                    <p>The following Hosts are using this Access List and will become publicly available upon deletion:</p>
                    <ul>
                        <% _.map(hosts, function (host) { %>
                            <li><%- host.hostname %></li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger delete">Yes I'm Sure</button>
            </div>
        </form>
    </div>
</div>
