<div class="modal-dialog">
    <div class="modal-content">
        <form>
            <div class="modal-header text-left">
                <h4 class="modal-title"><% if (typeof _id !== 'undefined') { %>Edit<% } else { %>Create<% } %> Access List</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="list_name">List Name</label>
                    <input type="text" class="form-control" placeholder="Cool People" name="name" id="list_name" value="<%- name %>" required>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <strong>Username</strong>
                    </div>
                    <div class="col-sm-6">
                        <strong>Password</strong>
                    </div>
                </div>
                <div class="items"><!-- items --></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success save">Save</button>
            </div>
        </form>
    </div>
</div>
