<div class="row">
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="" name="username[]" value="<%- typeof username !== 'undefined' ? username : '' %>">
    </div>
    <div class="col-sm-6">
        <input type="password" class="form-control" placeholder="<%- typeof hint !== 'undefined' ? hint : '' %>" name="password[]" value="">
    </div>
</div>
