<table class="table table-condensed table-striped">
    <thead>
        <th>Access List Name</th>
        <th>User Count</th>
        <th>Host Count</th>
        <th class="text-right"><button type="button" class="btn btn-xs btn-info">Create Access List</button></th>
    </thead>
    <tbody>
        <!-- items -->
    </tbody>
</table>
