<div class="col-sm-6 col-md-6">
    <div class="form-group">
        <input type="text" name="username[]" class="form-control" value="<%- typeof username !== 'undefined' ? username : '' %>">
    </div>
</div>
<div class="col-sm-6 col-md-6">
    <div class="form-group">
        <input type="password" name="password[]" class="form-control" placeholder="<%- typeof hint !== 'undefined' ? hint : '' %>" value="">
    </div>
</div>
