<td colspan="10" class="text-center">
    <br><br>
    <p>It looks like there are no hosts configured.</p>
    <p><button type="button" class="btn btn-sm btn-success">Create your first Host</button></p>
</td>
