<td colspan="10" class="text-center">
    <br><br>
    <p>It looks like there are no hosts configured.</p>
    <p>
        <button type="button" class="btn btn-sm btn-success proxy">Create Proxy Host</button>
        <button type="button" class="btn btn-sm btn-success redirection">Create Redirection Host</button>
        <button type="button" class="btn btn-sm btn-success 404">Create 404 Host</button>
    </p>
</td>
