<table class="table table-condensed table-striped">
    <thead>
        <th>Hostname</th>
        <th>Destination</th>
        <th>SSL</th>
        <th>Access List</th>
        <th class="text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create Host <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="new-proxy">Proxy Host</a></li>
                    <li><a href="#" class="new-redirection">Redirection Host</a></li>
                    <li><a href="#" class="new-404">404 Host</a></li>
                </ul>
            </div>
        </th>
    </thead>
    <tbody>
        <!-- items -->
    </tbody>
</table>
