<% var title = 'Nginx Proxy Manager' %>
<%- include includes/header.ejs %>

<div id="app" class="loading">
    <span class="loader">Loading...</span>
</div>
<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;"></div>

<%- include includes/footer.ejs %>
