<div class="card">
    <div class="card-status bg-yellow"></div>
    <div class="card-header">
        <h3 class="card-title">Redirection Hosts</h3>
        <div class="card-options">
            <a href="#" class="btn btn-outline-secondary btn-sm ml-2 help"><i class="fe fe-help-circle"></i></a>
            <% if (showAddButton) { %>
            <a href="#" class="btn btn-outline-yellow btn-sm ml-2 add-item">Add Redirection Host</a>
            <% } %>
        </div>
    </div>
    <div class="card-body no-padding min-100">
        <div class="dimmer active">
            <div class="loader"></div>
            <div class="dimmer-content list-region">
                <!-- List Region -->
            </div>
        </div>
    </div>
</div>
