<div class="modal-dialog">
    <div class="modal-content">
        <form class="form">
            <div class="modal-header text-left">
                <h4 class="modal-title">Advanced Configuration for <%- hostname %></h4>
            </div>
            <div class="modal-body">
                <p>This section is for advanced users only! If you don't know Nginx configuration backwards, you should abort now.
                You might typically use this for configuring additional location sections, ip restrictions or websocket proxying.</p>

                <div class="form-group">
                    <label for="advanced-input">Additional Nginx Configuration (inside server block)</label>
                    <textarea class="form-control" rows="10" name="advanced" id="advanced-input"><%- advanced %></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger save">Save</button>
            </div>
        </form>
    </div>
</div>
