<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Reconfigure Host</h4>
            </div>
            <div class="modal-body">
                <p>This will simply re-create the Nginx config based on it's settings. You shouldn't need to do this under normal circumstances
                but if your host isn't working as expected, this may fix it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success reconfigure">Reconfigure</button>
            </div>
        </form>
    </div>
</div>
