<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Renew SSL Certificates</h4>
            </div>
            <div class="modal-body">
                <p>This will renew the SSL Certificates for the host. This normally happens automatically however if you notice
                SSL working incorrectly, this may fix it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success renew">Renew SSL</button>
            </div>
        </form>
    </div>
</div>
