<div class="container">
    <div class="row align-items-center">
        <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fe fe-home"></i> Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown"><i class="fe fe-monitor"></i> Hosts</a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                        <a href="/nginx/proxy" class="dropdown-item ">Proxy Hosts</a>
                        <a href="/nginx/redirection" class="dropdown-item ">Redirections</a>
                        <a href="/nginx/stream" class="dropdown-item ">Streams</a>
                        <a href="/nginx/404" class="dropdown-item ">404 Hosts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/nginx/access" class="nav-link"><i class="fe fe-lock"></i> Access Lists</a>
                </li>
                <% if (showUsers()) { %>
                <li class="nav-item">
                    <a href="/users" class="nav-link"><i class="fe fe-users"></i> Users</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
