<div class="page-main">
    <div class="header" id="header">
        <!-- Header View -->
    </div>
    <div id="menu">
        <!-- Menu View -->
    </div>
    <div class="my-3 my-md-5">
        <div id="app-content" class="container">
            <!-- App View -->
        </div>
    </div>
</div>

<footer class="footer">
    <!-- Footer View -->
</footer>

<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false"></div>
