html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f7fb;
	color: rgb(73, 80, 87);
}

.text-right {
	text-align: right;
}
