<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><%- i18n('streams', 'delete') %></h5>
        <button type="button" class="close cancel" aria-label="Close" data-dismiss="modal">&nbsp;</button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <%= i18n('streams', 'delete-confirm') %>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal"><%- i18n('str', 'cancel') %></button>
        <button type="button" class="btn btn-danger save"><%- i18n('str', 'sure') %></button>
    </div>
</div>
