<div class="row align-items-center flex-row-reverse">
    <div class="col-auto ml-auto">
        <div class="row align-items-center">
            <div class="col-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://github.com/jc21/nginx-proxy-manager?utm_source=nginx-proxy-manager"><%- i18n('footer', 'fork-me') %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        <%- i18n('main', 'version', {version: getVersion()}) %>
        <%= i18n('footer', 'copy', {url: 'https://jc21.com?utm_source=nginx-proxy-manager'}) %>
        <%= i18n('footer', 'theme', {url: 'https://tabler.github.io/?utm_source=nginx-proxy-manager'}) %>
    </div>
</div>
