<div>
  <div class="title">
    <i class="fe fe-server text-green"></i> <%- name %>
  </div>
  <span class="description">
    <%- scheme %> &ndash; <%- servers.length %> Server(s) &ndash; Created: <%- formatDbDate(created_on, 'Do MMM YYYY, h:mm a') %>
  </span>
</div>