name: lint-and-format
on:
  push:
    branches:
      - develop
  workflow_dispatch:
jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: install-sponge
        run: sudo apt-get install -y moreutils
      - name: biome-backend
        run: |
          cd backend
          pnpm install --frozen-lockfile
          pnpm biome lint --write
          pnpm biome format --write
      - name: biome-frontend
        run: |
          cd frontend
          pnpm install --frozen-lockfile
          pnpm biome lint --write
          pnpm biome format --write
          pnpm formatjs compile-folder src/locale/src src/locale/lang
          pnpm vitest
          ./src/locale/scripts/locale-sort.sh
      - name: nginxbeautifier
        run: |
          pnpm add -g nginxbeautifier
          nginxbeautifier -s 4 -r rootfs/usr/local/nginx/conf
      - name: push changes
        run: |
          git add -A
          git config user.name "GitHub"
          git config user.email "noreply@github.com"
          git diff-index --quiet HEAD || git commit -sm "update and lint"
          git push
