name: lint-and-format
on:
  push:
#    branches:
#      - develop
#  schedule:
#    - cron: "0 */6 * * *"
  workflow_dispatch:
jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: install-sponge
        run: sudo apt-get install -y moreutils
      - name: biome-backend
        run: |
          cd backend
          yarn install --production=false
          yarn biome lint --write
          yarn biome format --write
      - name: biome-frontend
        run: |
          cd frontend
          yarn --production=false
          yarn biome lint --write
          yarn biome format --write
          yarn formatjs compile-folder src/locale/src src/locale/lang
          yarn vitest
          ./src/locale/scripts/locale-sort.sh
      - name: nginxbeautifier
        run: |
          yarn global add nginxbeautifier
          nginxbeautifier -s 4 -r rootfs/usr/local/nginx/conf
      - name: push changes
        run: |
          git add -A
          git config user.name "GitHub"
          git config user.email "noreply@github.com"
          git diff-index --quiet HEAD || git commit -sm "update and lint"
          git push
