name: spellcheck
on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:
jobs:
  spellcheck:
    name: spellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v6
      - name: Check spelling
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: true
          skip: pnpm-lock.yaml,./frontend/src/locale/src
          ignore_words_list: afterAll,alog
